body { background-image:url('img/bg.png');
    background-repeat: no-repeat;
    background-size: cover;

    
  
    font-family: 'Fredoka', sans-serif;}
   
    @import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
    h2 { color:white;
    font-size:4vh;
    margin-top: 3vh;
    font-weight: 900;
    text-align: center;}
    h3 { color:white;
        font-size:4vh;
        font-weight: 600;
        text-align: center; }
    p { color:white;
        font-size:2vh;
        margin-top: 0;
        font-weight: 800;
        text-align: center;}
        a { background-color: white;
        border: none;
        color:black;
        padding: 15px 32px;
        border-radius: 90px;
        font-weight: 700;
            width:45vw;
    height:5vh;
    text-align: center;
    text-decoration: none;
    font-size: 3vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-tap-highlight-color: transparent;
    margin-top: 2vh;}
    
    
    video {
        width:90vw;
        height:auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1vh;
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 8vh;
        margin-top: 25vh;
       
    }