//FONTS
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
$main-font: 'Open Sans', sans-serif;

// COLORS
$white: #fff;
$dark-gray: #777;
$black: #3399FE;
$deep-black: #000;
$accent: #41b883;


// GENERAL
*, *::before, *::after{
  box-sizing: border-box;
}
body{
  font-family: $main-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: $white;
  background: $black;
  
  ::-moz-selection{
    background: $accent;
  }
  ::selection{
    background: $accent;
  }
}


// APP STYLES
#app{
  width: 100%;
  max-width: 74rem;
  margin: 3rem auto;
  padding: 0 .5rem;
  header{
    h1{
      padding: 0 .5rem;
      font-weight: normal;
      a{
        position: relative;
        display: inline-block;
        text-decoration: none;
        color: $white;
        &::before, &::after{
          content: '';
        }
        &::before{
          display: inline-block;
          width: 40px;
          height: 25px;
          margin-right: .5rem;
          background: $accent;
          border-radius: 4px;
          transition: background .4s;
        }
        &::after{
          position: absolute;
          left: 16px;
          top: 12px;
          border: 5px solid transparent;
          border-left: 12px solid $white;
        }
      }
    }
  }
}

.wrap-search{
  display: flex;
  padding: 0 .5rem;
  .search{
    flex-grow: 2;
    input{
      width: 100%;
      height: 50px;
      line-height: 50px;
      padding: 0 1rem;
      color: $white;
      border: 0;
      border-right: none;
      outline: none;
      background: rgba($deep-black, .5);
      transition: background .4s;
      &:focus{
        background: $deep-black;
      }
    }
  }
  .submit{
    a{
      display: block;
      height: 50px;
      line-height: 50px;
      padding: 0 1rem;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 0.85em;
      color: $white;
      background: rgba($deep-black, .5);
      outline: none;
      transition: background .4s;
      cursor: pointer;
      &:hover, &:focus{
        background: $deep-black;
      }
      i{
        vertical-align: middle;
      }
    }
  }
}

.youtube-archive{
  .video-results{
    display: flex;
    flex-wrap: wrap;
    .column{
      width: 25%;
      padding: .5rem;
    }
    .video{
      display: block;
      text-decoration: none;
      color: $black;
      height: 100%;
      background: rgba($white, .75);
      transition: background-color .4s;
      outline: none;
      &:hover, &:focus{
        background: $white;
        .wrap-thumb{
          img{
            transform: scale(1.2);
          }
        }
        .content{
          .channel{
            color: $accent;
          } 
        }
      }
      .wrap-thumb{
        overflow: hidden;
        img{
          display: block;
          width: 100%;
          height: auto;
          transition: transform .2s;
        }
      }
      .content{
        padding: .5rem;
        overflow:hidden;
        h3{
          margin: 0 0 .5rem;
          font-size: 1em;
        }
        .channel{
          margin: 0 0 .5rem;
          font-size: .85rem;
          color: darken($accent, 10%);
          transition: color .4s;
        }
        time{
          display: block;
          margin-bottom: 1rem;
          font-size: 0.85em;
        }
      }
    }
  }
  .pagination{
    margin-top: 3rem;
    text-align: center;
    a{
      text-decoration: none;
      text-transform: uppercase;
      color: $accent;
      transition: color .4s;
      &:hover{
        color: $white;
      }
      &::before, &::after{
        content: '';
        display: inline-block;
        border: 6px solid green;
      }
      &.next{
        &::after{
          margin-left: 0.5rem;
          border-left: 12px solid currentcolor;
        }
      }
      &.prev{
        &::before{
          margin-right: 0.5rem;
          border-right: 12px solid currentcolor;
        }
      }
    }
  }
}

.video-detail{
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  padding: 0 .5rem;
  .content{
    width: 100%;
    .wrap-player{
      position: relative;
      background: $deep-black;
      min-height: 120px;
      &::before{
        content: 'pahilaganaisloading.';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-transform: uppercase;
        letter-spacing: 4px;
        color: $white;
      }
      iframe{
        z-index: 1;
        position: relative;
        display: block;
        width: 100%;
        height: 120px;
      } 
    }
    .stats{
      margin-top: 2rem;
      padding-bottom: 2rem;
      border-bottom: 1px solid rgba($white, .07);
      i{
        margin-right: .5rem;
        vertical-align: middle;
        font-size: 1em;
        color: $accent;
      }
      .label{
        display: inline-block;
        margin-right: 1rem;
        font-size: .85em;
        color: rgba($white, .7);
      }
    }
    .channel{
      margin: 2rem 0 .5rem;
      font-weight: bold;
      i{
        margin-right: .2rem;
        vertical-align: middle;
        font-size: 1.2em;
      }
    }
    .description{
      white-space: pre-line; //preserve line breaks
      line-height: 1.5;
      font-size: .9em;
      color: rgba($white, .7);
    }
  }
  .sidebar{
    width: 30%;
    .related{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .wrap-rel-video{
        width: 70%;
        margin-bottom: 1rem;
      }
      .video{
        display: block;
        text-decoration: none;
        color: $black;
        height: 100%;
        background: rgba($white, .75);
        transition: background-color .4s;
        outline: none;
        &:hover, &:focus{
          background: $white;
          .wrap-thumb{
            img{
              transform: scale(1.2);
            }
          }
          .content{
            .channel{
              color: $accent;
            } 
          }
        }
        .wrap-thumb{
          overflow: hidden;
          img{
            display: block;
            width: 100%;
            height: auto;
            transition: transform .2s;
          }
        }
        .content{
          width: 100%;
          padding: .5rem;
          overflow:hidden;
          h3{
            margin: 0 0 .5rem;
            font-size: .85em;
          }
          .channel{
            margin: 0 0 .5rem;
            font-size: .85rem;
            color: darken($accent, 10%);
            transition: color .4s;
          }
          time{
            display: block;
            margin-bottom: 0;
            font-size: 0.85em;
          }
        }
      }  
    }
  }
}




// RESPONSIVE
@media only screen and (max-width: 1024px){
  .youtube-archive .video-results{
    .column{
      width: 33.333333333%;
    }
  }
  .video-detail{
    .sidebar{
      .related{
        .wrap-rel-video{
          width: 90%;
        }
      }
    }
  }
}
@media only screen and (max-width: 768px){
  .youtube-archive .video-results{
    .column{
      width: 10%;
    }
  }
  .video-detail{
    .content, 
    .sidebar{
      width: 100%;
    }
    .content{
      .stats{
        & > span{
          display: block;
          margin-bottom: 0.3rem;
        }
      }
    }
    .sidebar{
      margin-top: 5rem;
      .related{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        margin-left: -0.5rem;
        margin-right: -0.5rem;
        .wrap-rel-video{
          width: 50%;
          margin: 0;
          padding: 0 .5rem 1rem;
        }
      }
    }
  }
}
@media only screen and (max-width: 600px){
  .video-detail{
    .content{
      .wrap-player{
        iframe{
          height: 130px;
        }
      }
    }
  }
}
@media only screen and (max-width: 480px){
  .youtube-archive .video-results{
    .column{
      width: 100%;
    }
  }
  .video-detail{
    .sidebar{
      .related{
        .wrap-rel-video{
          width: 100%;
        }
      }
    }
  }
}
